.minePage_wrapper {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minePage_container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--middleGray);
    margin: auto;
    height: 90%;
    width: 80%;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;

    overflow-y: auto;

}

.title{
    font-size: 2rem;
    font-weight: bold;
}

@media(max-width: 426px){
    .minePage_container{
        grid-template-columns: repeat(2, 1fr);
    }
}